#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* TaskForm */

.task-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.task-form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-form__field label {
  font-weight: bold;
}

.task-form__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TaskList */

.task-list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.task-list__item-status {
  font-weight: bold;
}

.task-list__item-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.task-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.task-list {
  margin: 1rem 0;
  flex-grow: 1;
  flex-basis: 0;
}

.sprint-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sprint {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sprint-totals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sprint-totals span {
  font-weight: bold;
  margin-right: 2rem;
}

/* App */

.app {
  margin: 0 auto;
  padding: 1rem;
}